<div class='container' style='padding:10px;'>
  <div class="row">
    <div class="col-sm-4">
        <%= link_to boards_path, method: 'POST', class: 'btn btn-info' do %>
        Start New Board
        <% end %>
    </div>
  </div>
</div>
